.chart-line-symbol {
    -fx-background-color: transparent, transparent;
}
.default-color0.chart-series-line { -fx-stroke: red; }
.default-color1.chart-series-line { -fx-stroke: green; }
.chart-series-line {
    -fx-stroke-width: 2px;
}
